<header>
    <div class="flex justify-between bg-transparent pt-10">
        <div class="pl-32">
            
        </div>
        <div>
            <ul class="list-none pr-10 hidden lg:flex">
                <li class="text-lg pr-10 text-primary-100 font-mono "><a routerLink="/" ><span class="text-secondary-400">01.</span>  Home</a></li>
                <li class="text-lg pr-10 text-primary-100 font-mono"><a routerLink="/works"><span class="text-secondary-400">02.</span>  Works</a></li>
                <li class="text-lg text-primary-100 font-mono"><a routerLink="/about"><span class="text-secondary-400">03.</span> About Me</a></li>
            </ul>
        </div>
    </div>
</header>
