<header>
  <div class="flex justify-between align-items-center bg-transparent pt-10">
    <a class="ml-14 lg:ml-28" href="#">
      <img
        width="100"
        height="100"
        src="../../assets/images/_194298f0-d617-4620-8a0f-c385c327ce06-removebg-preview.png"
        alt=""
      />
    </a>
    <div>
      <ul class="list-none pr-10 hidden lg:flex pe-32">
        <li class="text-lg pr-10 text-primary-600">
          <a
            routerLink="/"
            class="text-base rounded-md font-medium text-primary-900 hover:text-purple-700"
            >Home</a
          >
        </li>
        <li class="text-lg pr-10 text-primary-600">
          <a
            routerLink="/works"
            class="text-base rounded-md font-medium text-primary-900 hover:text-purple-700"
            >Works</a
          >
        </li>
        <li class="text-lg text-primary-600">
          <a
            routerLink="/about"
            class="text-base rounded-md font-medium text-primary-900 hover:text-purple-700"
            >About Me</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
