<app-header></app-header>
<section class="bg-base home-div flex justify-center items-center">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="text-5xl text-center font-mono mb-10 mt-4 text-secondary-400">Contact Me</h2>
        <p class="font-medium text-primary-50 tracking-widest mb-7 text-lg">Do you need a <span class="text-secondary-400">Web Application</span>? Or any other kind of information about my work ? Contact me !</p>
        <form onsubmit="return false;" class="space-y-8">
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-white font-mono">Your email</label>
                <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@flowbite.com" required>
            </div>  
            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 font-mono">Subject</label>
                <input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Let us know how we can help you" required>
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400 font-mono">Your message</label>
                <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Leave a comment..." required> </textarea>
            </div>
            @if(textError !== ''){
                <div>
                    <p class="text-secondary-400 text-lg">{{textError}}</p>
                </div>
            }
            <button onsubmit="sendEmail()" type="submit" class="py-3 px-5 font-medium text-center text-white rounded-lg bg-secondary-400 tracking-widest">Send message</button>
        </form>
    </div>
  </section>
