@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Titillium Web", sans-serif;
}
.home-div{
    min-height: 100vh;
}

.bg-base{
    background: linear-gradient(-45deg, #05084a, #2e1db8);
}

// .home-img{
//     background-image: url(./assets/images/6572420_3301603.svg);
//     background-size: 700px;
//     background-position: 80% 50%;
//     background-repeat: no-repeat;
// }